.search__form{

    margin-bottom: 60px;
    display: flex;
    align-items: center;
    position: relative;

    button{
        all: unset;
    }
    button{
        position: absolute;
        font-size: 18px;
        right: 15px;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        cursor: pointer;
    }
}